<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Fragment que selecciona el navbar correcto automáticamente -->
    <th:block
      th:fragment="navbarDinamico(activeSection, rolActual)"
      th:switch="${rolActual}"
    >
      <th:block
        th:case="'BIBLIOTECARIO'"
        th:replace="~{fragments/navbar-bibliotecario :: navbarBibliotecario(${activeSection})}"
      >
      </th:block>

      <!-- <th:block
        th:case="LECTOR"
        th:replace="~{fragments/navbar-lector :: navbarLector(${activeSection})}"
      > -->
      </th:block>
    </th:block>
  </body>
</html>
