<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Fragment que selecciona el navbar correcto automáticamente -->
    <th:block th:fragment="navbarDinamico(activeSection, rolActual)">
      <th:block th:if="${rolActual} == 'BIBLIOTECARIO'">
        <div th:replace="~{fragments/navbar-bibliotecario :: navbarBibliotecario(${activeSection})}"></div>
      </th:block>
      <th:block th:if="${rolActual} == 'ADMIN'">
        <div th:replace="~{fragments/navbar-admin :: navbarAdmin(${activeSection})}"></div>
      </th:block>
      <th:block th:if="${rolActual} == 'LECTOR'">
        <div th:replace="~{fragments/navbar-lector :: navbarLector(${activeSection})}"></div>
      </th:block>
    </th:block>
  </body>
</html>
