server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:biblioteca;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true

logging:
  level:
    biblioteca.biblioteca: DEBUG
    org.springdoc: DEBUG
    org.springframework.web: DEBUG
